
.container{
    margin-top: 7%;
  }
  
.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  footer{
    bottom: 0;
    width: 100%;
    z-index: 9999;
  }
