<section id="product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="productHeading text-center">
                    <h2 class="mb-3">Admin Panel</h2> 
                    <ul class="list-unstyled d-flex   justify-content-center ">
                        <li class="nav-item  ">
                            <a class="nav-link fw-semibold text-uppercase  me-1 text-danger" 
                               role="button" aria-expanded="false" (click)="routerNavigate('add-product')">
                              Add Product
                            </a>
                        </li> 
                        <li class="nav-item ms-3">
                            <a class="nav-link fw-semibold text-uppercase  me-1 text-danger" 
                               role="button" aria-expanded="false" (click)="routerNavigate('add-category')">
                              Add Category
                            </a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="nav-link fw-semibold text-uppercase  me-1 text-danger" 
                               role="button" aria-expanded="false" (click)="routerNavigate('manage-product')">
                              manage Product
                            </a>
                        </li>  
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

